.app_bar{
  position: fixed!important;
  top:0px;
  left:0px;
  z-index: 100;
}
/*承载用户聊天的容器*/
.bearer-information-container{
  width:95%;
  position: fixed;
  top:65px;
  left:2.5%;
  z-index:101;
}
.bearer_information{
  width:100%;
  height:100%;
  overflow-y: scroll;
  position: relative;
}
