html,body{
  background-color: #fff;
}
.page_header{
  width:100%;
  position: fixed;
  top:0px;
  left:0px;
  z-index: 10;
}
.page_header_color{background-color: #333;}

/*轮播*/
.xuqiu_focus_container{width:100%;margin-top: 50px;}
#xuqiu_focus{width:100%;}

/*需求标题*/
.xuqiu_title{
  width:90%;
  height:50px;
  text-align: center;
  line-height: 50px;
  font-size:18px;
  color:#000;
  margin:20px auto 20px;
  border-bottom:1px solid #eee;
}

/*需求详情*/
.xuqiu_xiangqing{
  width:90%;
  text-align: left;
  text-indent: 40px;
  font-size:16px;
  color:#c0c0c0;
  margin:0px auto 20px;
  border-bottom:1px solid #eee;
}

/*需求金额和需求类型的弹性盒子*/
.xuqiu_money_type_flex{
  width:90%;
  margin:0px auto 20px;
  font-size:14px;
  display: flex;
  justify-content: center;
}
.xuqiu_money_type_flex div{width:50%;padding:10px;}
.xuqiu_type{border-right:1px solid #eee;}
.xuqiu_type_span{color:#c0c0c0;}
.xuqiu_money_span{color:#f00;font-size:12px;}

/*发布人信息标题*/
.fabu_people_msg_title{
  width:90%;
  height:40px;
  color:#333;
  text-align: center;
  line-height: 40px;
  margin:0px auto 20px;
}
/*过期时间和状态*/
.guoqi_time{
  width:85%;
  height:50px;
  text-align: left;
  line-height: 50px;
  font-size:16px;
  color:#333;
  margin:20px auto 0px;
}
.xuqiu_state{
  width:85%;
  height:50px;
  text-align: left;
  line-height: 50px;
  font-size:16px;
  margin:0 auto;
}
/*详细地址*/
.xiangxi_dizhi{
  width:85%;
  height:50px;
  margin:0 auto;
  text-align: left;
  line-height: 50px;
  color:#333;
  font-size:16px;
  border-bottom:1px solid #eee;
}
/*发布人信息*/
.fabu_people_msg{width:90%;margin:0px auto 20px;border-bottom:1px solid #eee;display: flex;}
.fabu_people_msg_img{
  width:70px;
  height:50px;
  border-radius: 50px;
  flex-grow: 0;
  padding-right:20px;
}
.fabu_people_msg_img img{
  width:50px;
  height:50px;
  border:1px solid #c0c0c0;
  box-shadow: 0 0 10px #c0c0c0;
  border-radius: 50px;
}
.fabu_people_msg_content{flex-grow: 1;}

/*操作按钮*/
.caozuo_btn{
  width:90%;
  margin:0px auto 20px;
  display: flex;
  justify-content:center;
}
.caozuo_btn div{
  width:50%;
  height:40px;
  color:#fff;
  margin:20px;
  text-align: center;
  line-height: 40px;
  font-size:18px;
  border-radius: 8px;
}
.caozuo_btn_chat{background-color: #00CC00;}
.caozuo_btn_accept{background-color: #33CCFF;}

/*信誉度*/
.user_reputation{
  color:#FFFF33;
}
